@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilização Geral */

:root {
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
    --cor-ternaria: #FFFFFF;
    --cor-quartenaria: #D8DFE8;

    --cor-texto-primario: #343A40;
    --cor-texto-secundaria: #495057;

    --fonte-peso-regular: 400;
    --fonte-peso-bold: 700;
}

.darkmode {
    --cor-primaria: #04042e;
    --cor-secundaria: #1215f1a6;
    --cor-ternaria: #ececf8;
    --cor-quartenaria: #fcfcfc;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--cor-quartenaria);
    background-color: var(--cor-primaria);
}

.principal__interface {
    max-width: 90rem;
    margin: 0 auto;
}

.principal__flex {
    display: flex;
}

/* DARKMODE */

.darkmode #btn-darkmode svg:first-child {
    display: none;
}

.darkmode #btn-darkmode svg:last-child {
    display: block;
}

/* Estilizando cabeçalho  */

.cabecalho { /* Passível de mudanças */
    padding: 40px;
    position: relative;
    right:  40px;
}

.cabecalho #btn-darkmode {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40px;
    right: 20px;
}

#btn-darkmode svg {
    fill: var(--cor-secundaria);
}

#btn-darkmode svg:last-child {
    display: none;
}

/* Estilização principal__conteudo */

.principal {
    padding: 2.5rem 4%;
}

.principal__conteudo {
    width: 100%;
    max-width: 42.5rem;
}

.principal .principal__flex {
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.principal__conteudo textarea {
    width: 100%;
    height: 38.25rem;
    font-size: 2rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    /* Remove a borda e a sobre-borda do textarea */
    border: none;
    resize: none;
}

.principal__conteudo textarea:focus { 
    outline: none;
}

.principal__conteudo textarea::placeholder {
    color: var(--cor-secundaria);
}

.principal__conteudo textarea::-webkit-scrollbar {
    width: 0px; /* 'Remove' scrollbar */
}

/* Estilizando principal__informacao */

.principal__conteudo .principal__informacao { /* Passível de melhora */
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.principal__conteudo .principal__informacao p {
    /* Centralizando itens da class(img e p) */
    display: inline-flex;
    align-items: center;
    font-size: .8rem;
    color: var(--cor-texto-secundaria);
}

.principal__conteudo .principal__informacao img {
    /* Centralizando icone de exclamação ao texto */
    vertical-align: middle;
    padding-right: 8px;
}

/* Estilizando principal__botoes */

.principal__botoes {
    display: flex;
    gap: 24px
}

.principal__botoes .principal__botoes__botao{
    width: 100%;
    padding: 24px 0;
    border: none;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 400;

    &[class*="--darkblue"] {
        background-color: var(--cor-secundaria);
        color: var(--cor-quartenaria);
    }

    &[class*="--gray"] {
        border: 1px solid var(--cor-secundaria);
        background-color: var(--cor-quartenaria);
        color: var(--cor-secundaria);
    }
}

.principal__botoes .principal__botoes__botao:hover {
    opacity: 0.8;
    transform: scale(1.03);
    transition-duration: .2s;
}

/* Estilizar campo criptografado ou descriptografado */

.principal__sidebar {
    width: 100%;
    max-width: 25rem;
}

.principal__sidebar .principal__card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    width: 100%;
    height: 944px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
}

.principal__sidebar #principal__mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#principal__mensagem textarea {
    width: 100%;
    max-width: 336px;
    height: 781px;
    padding: 4%;

    font-size: 1.5rem;
    font-weight: var(--fonte-peso-regular);
    color: var(--cor-texto-secundaria);

    border: none;
    outline: none;
    resize: none;
}

#principal__mensagem button {
    width: 100%;
    max-width: 328px;
    padding: 24px 0;
    border: 1px solid var(--cor-secundaria);
    border-radius: 24px;
    background-color: var(--cor-ternaria);
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

#principal__mensagem button:hover {
    opacity: 0.75;
    transform: scale(1.03);
    transition-duration: 0.2s;
}

/* Estilização principal__sinalizacao */

#principal__sinalizacao img {
    width: 100%;
    max-width: 336px;
    padding: 0px 24px;
}

#principal__sinalizacao .principal__textos {
    width: 100%;
    max-width: 336px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    color: var(--cor-texto-primario);
}

.principal__textos .principal__textos__destaque {
    color: var(--cor-texto-primario);
    font-weight: var(--fonte-peso-bold);
    font-size: 1.5rem;
    text-align: center;
}

/* Estilizando footer */

.principal__rodape {
    width: 100%;
    background-color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: var(--fonte-peso-bold);
    padding: 24px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .principal {
        padding: 40px 6%;
    }

    .principal__flex {
        flex-direction: column;
    }

    .principal__sidebar {
        max-width: 43rem;
    }
    
    .principal__sidebar .principal__card {
        height: auto;
    }
    
    #principal__mensagem {
        padding: 3%;
        width: 100%;
    }
    
    #principal__mensagem textarea{
        height: 80%;
        min-height: 17rem;
    }
    
    #principal__mensagem textarea,
    #principal__mensagem button {
        max-width: 43rem;
    }

    #principal__sinalizacao {
        padding: 8%;
    } 
    
    #principal__sinalizacao img {
        display: none;
    }
    
}

@media (max-width: 320px) {

    .cabecalho {
        right: 60px
    }

    .principal__conteudo textarea {
        height: 19.125rem;
    }

    .principal__botoes {
        flex-direction: column;
    }

    #principal__mensagem {
        padding: 8%;
    }
}

